---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-24   lg:py-48">
    <div class="overflow-hidden">
      <h1
        class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-bold tracking-tight dark:text-white text-black mb-4"
        data-aos="fade-down"
        data-aos-duration="1500"
      >
        StarterBuild
      </h1>
      <Text
        tag="p"
        variant="displayMD"
        class="dark:text-white xl:text-6xl tracking-tight font-medium text-black text-balance"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        We build internet businesses.
      </Text>
    </div>
  </Wrapper>
</section>
