---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-24   lg:py-48">
    <div class="overflow-hidden">
      <Text
        tag="h1"
        variant="displayMD"
        data-aos="fade-down"
        data-aos-duration="1500"
        class="dark:text-white xl:text-6xl tracking-tight font-medium text-black text-balance"
      >
        Dezain Sutajio Kotei® is a design studio based in Fukuoka that
        specializes in creating beautiful and simple brands for businesses that
        customers remember.
      </Text>
    </div>
  </Wrapper>
</section>
