---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-24">
    <div class="flex flex-col md:flex-row gap-4">
      <Text
        tag="h3"
        variant="displayMD"
        class="dark:text-white xl:text-6xl tracking-tight font-medium text-base-900 text-balance"
      >
      Good work feels obvious once it exists.
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="text-base-900 dark:text-white lg:w-1/2 lg:pl-4 font-medium lg:border-l-2 border-base-200 daerk:lg:border-base-800"
      >
      </Text>
    </div>
  </Wrapper>
</section>
