---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-24">
    <div class="flex flex-col md:flex-row gap-4">
      <Text
        tag="h3"
        variant="displayMD"
        class="dark:text-white xl:text-6xl tracking-tight font-medium text-black text-balance"
      >
        At Dezain Sutajio Kotei®, our process is intentional, refined, and
        deeply collaborative. We believe that great design emerges from clarity,
        craftsmanship, and a strong creative partnership.
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="text-black dark:text-white lg:w-1/2 lg:pl-4 font-medium lg:border-l-2 border-base-200 daerk:lg:border-base-800"
      >
        Crafting timeless design through clarity, precision, and collaboration.
      </Text>
    </div>
  </Wrapper>
</section>
