---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Array
const philosphy = [
  {
    title: "Create with Purpose",
    description:
      "At Vestal, we believe design should inspire and elevate. We craft 3D experiences that spark imagination and drive innovation.",
  },
  {
    title: "Collaborative Spirit",
    description:
      "Our team of artists, technologists, and innovators work together to push boundaries and deliver exceptional results.",
  },
  {
    title: "Creative Process",
    description:
      "We embrace curiosity and iteration, constantly exploring new techniques and technologies to stay ahead of the curve.",
  },
  {
    title: "Quality Obsessed",
    description:
      "Meticulous attention to detail ensures our 3D designs and textures meet the highest standards of quality and realism.",
  },
  {
    title: "Innovative Culture",
    description:
      "Vestal fosters a culture of continuous learning, encouraging experimentation and embracing emerging technologies.",
  },
  {
    title: "Client Partnerships",
    description:
      "We collaborate closely with clients, listening to their needs and delivering tailored solutions that exceed expectations.",
  },
];
---

<section>
  <Wrapper variant="standard" class="py-24">
    <div
      class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4 overflow-hidden"
    >
      <Text
        tag="h3"
        variant="displayXL"
        data-aos="fade-up"
        data-aos-duration="1000"
        class="dark:text-white text-base-900 font-medium tracking-tighter text-balance"
        >philosphy
      </Text>
      <div
        class="flex flex-col sm:col-span-2 lg:col-span-3 divide-y divide-base-200 dark:divide-base-800 border-y border-base-200 dark:border-base-800"
      >
        {
          philosphy.map((process, index) => (
            <div class="  grid grid-cols-1 lg:grid-cols-3 py-4">
              <Text
                tag="h4"
                variant="textBase"
                data-aos="fade-up"
                data-aos-duration="1500"
                class="dark:text-white text-base-900 font-medium tracking-tight text-balance"
              >
                <span>(0{index + 1})</span>
                {process.title}
              </Text>
              <div class="lg:col-span-2 overflow-hidden">
                <Text
                  tag="h4"
                  variant="textBase"
                  data-aos="fade-up"
                  data-aos-duration="2000"
                  class="dark:text-base-400  text-base-700  "
                >
                  {process.description}
                </Text>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
