---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import StoreCard1 from "@/components/store/StoreCard1.astro";
// Content
import { getCollection } from "astro:content";
const allProducts = await getCollection("store");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:py-48">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-start">
        <Text
          tag="h1"
          variant="displayXL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 font-medium tracking-tighter"
        >
          store
        </Text>
        <div
          class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-y-12 lg:gap-y-24 gap-2 lg:col-span-3"
        >
          {allProducts.map((post) => <StoreCard1 post={post} />)}
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
