---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components

import BlogCard1 from "@/components/blog/BlogCard1.astro";
import BlogCard2 from "@/components/blog/BlogCard2.astro";
import SubscribeCta from "@/components/blog/SubscribeCta.astro";

// Content
import { getCollection } from "astro:content";
// Sort posts by date
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-start">
        <div>
          <Text
            tag="h1"
            variant="displayXL"
            data-aos="fade-up"
            data-aos-duration="1000"
            class="dark:text-white text-base-900 font-medium tracking-tighter"
          >
            insights
          </Text>
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-y-12 lg:gap-y-24 gap-2 lg:col-span-3"
        >
          {
            allPosts.map((post, index) => (
              <BlogCard2 post={post} index={index + 1} />
            ))
          }
        </div>
      </div>
    </Wrapper>
  </section>
  <SubscribeCta />
  <section>
    <Wrapper class="py-8">
      <div class="overflow-hidden">
        <Text
          tag="h3"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          Latest relfexions
        </Text>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-12 lg:gap-1 mt-4"
      >
        {allPosts.slice(0, 4).map((post) => <BlogCard1 post={post} />)}
      </div>
      <div class="flex justify-end mt-4 pt-2">
        <Text
          tag="a"
          href="/blog"
          variant="textBase"
          class="dark:text-base-400 text-base-700 text-balance"
        >
          All relfexions
        </Text>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
