---
import Text from "@/components/fundations/elements/Text.astro";
---

<div class="flex flex-col gap-2">
  <Text tag="h4" variant="textBase" class="dark:text-white text-base-900 font-medium">Reusable Chains</Text>
  <div data-slot="reusable-chains"></div>
</div>
