---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import WorkEntries1 from "@/components/work/WorkCard1.astro";
// Content
import { getCollection } from "astro:content";
const allWork = await getCollection("work");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:py-48">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-start">
        <div class="overflow-hidden">
          <Text
            tag="h1"
            variant="displayXL"
            data-aos="fade-up"
            data-aos-duration="1000"
            class="dark:text-white text-base-900 font-medium tracking-tighter"
          >
            all case studies
          </Text>
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-y-12 gap-2 lg:col-span-3"
        >
          {
            allWork.map((post, index) => (
              <WorkEntries1 post={post} index={index + 1} />
            ))
          }
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
