---
const {
  variant,
  size,
  onlyIconSize,
  iconOnly = false,
  gap,
  isLink = false,
  class: className,
  ...rest
} = Astro.props;
// Default button
const defaultClass = [
  "text-white dark:text-base-900 ",
  "bg-base-800 dark:bg-base-50",
  "hover:bg-base-900 dark:hover:bg-base-300",
  "focus:outline-base-900 dark:focus:outline-white",
];
// Accent button
const accentClass = [
  "text-white dark:text-base-950",
  "bg-accent-500 dark:bg-accent-400",
  "hover:bg-accent-400 dark:hover:bg-accent-300",
  "focus:outline-accent-500 dark:focus:outline-accent-400",
];
// Muted button
const mutedClass = [
  "text-base-900  dark:text-white",
  "bg-base-50 dark:bg-base-800",
  "hover:bg-base-100 dark:hover:bg-base-800",
  "focus:outline-base-100 dark:focus:outline-base-800",
];
// Size
const sizes = {
  xxs: ["h-7.5", "px-4", "py-2", "text-xs", " rounded-lg"],
  xs: ["h-8", "px-4", "py-3", "text-xs", " rounded-lg"],
  sm: ["h-9", "px-4", "py-3", "text-sm", "rounded-lg"],
  base: ["h-10", "px-5", "py-4", "text-sm", "rounded-lg"],
  md: ["h-11", "px-5", "py-4", "text-base", "rounded-lg"],
  lg: ["h-12", "px-5", "py-4", "text-lg", "rounded-lg"],
  xl: ["h-13", "px-5", "py-4", "text-lg", "rounded-xl"],
};
// Icon size
const iconSizes = {
  xxs: ["size-7.5", "py-2", "text-xs", " rounded-lg"],
  xs: ["size-8", "text-xs", " rounded-lg"],
  sm: ["size-9", "text-sm", "rounded-lg"],
  base: ["size-10", "text-sm", "rounded-lg"],
  md: ["size-11", "text-base", "rounded-lg"],
  lg: ["size-12", "text-lg", "rounded-lg"],
  xl: ["size-13", "text-lg", "rounded-xl"],
};
// Gap
const gapMap = {
  xs: ["gap-2"],
  sm: ["gap-4"],
  base: ["gap-8"],
  md: ["gap-10"],
  lg: ["gap-12"],
};
const additionalClasses = className ? className.split(" ") : [];
const variantClass = {
  default: defaultClass,
  accent: accentClass,
  muted: mutedClass,
  none: [],
};
const baseClass = [
  "flex",
  "transition",
  "text-center",
  "justify-center",
  "font-medium",
  "items-center",
  "duration-500",
  "ease-in-out",
  "transition-colors",
  "focus:outline-2",
  "outline-offset-4",
];
const sizeKey = iconOnly ? onlyIconSize || size : size;
const sizeClass = iconOnly ? iconSizes[sizeKey] || [] : sizes[size] || [];
const gapClass = !iconOnly && gap ? gapMap[gap] || [] : [];
---

{
  isLink ? (
    <a
      class:list={[
        ...baseClass,
        ...(variantClass[variant] || []),
        ...sizeClass,
        ...gapClass,
        ...additionalClasses,
      ]}
      {...rest}
    >
      {iconOnly ? (
        <slot name="icon" />
      ) : (
        <>
          <slot name="left-icon" />
          <slot />
          <slot name="right-icon" />
        </>
      )}
    </a>
  ) : (
    <button
      class:list={[
        ...baseClass,
        ...(variantClass[variant] || []),
        ...sizeClass,
        ...gapClass,
        ...additionalClasses,
      ]}
      {...rest}
    >
      {iconOnly ? (
        <slot name="icon" />
      ) : (
        <>
          <slot name="left-icon" />
          <slot />
          <slot name="right-icon" />
        </>
      )}
    </button>
  )
}
