---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const navigationItems = [
  {
    title: "Resources",
    items: [
      {
        href: "https://buy.polar.sh/polar_cl_1VZ_5CG_hCUa3jpsD91OT3rf333sjjrDLG2h6SbvGJg",
        text: "Buy Kotei",
      },
      {
        href: "https://lexingtonthemes.com/legal/license/",
        text: "License",
      },
      {
        href: "https://lexingtonthemes.com/documentation",
        text: "Documentation",
      },
    ],
  },
  {
    title: "Connect",
    items: [
      { href: "#_", text: "GitHub" },
      { href: "#_", text: "Twitter" },
      { href: "#_", text: "Instagram" },
      { href: "#_", text: "Linked In" },
    ],
  },
  {
    title: "Navigation",
    items: [
      {
        href: "/system/overview",
        text: "Overview",
      },
      {
        href: "/system/links",
        text: "Links",
      },
      {
        href: "/system/buttons",
        text: "Buttons",
      },
      {
        href: "/system/colors",
        text: "Colors",
      },
      {
        href: "/system/typography",
        text: "Typography",
      },
    ],
  },
];
---

<footer class="bg-base-50 dark:bg-base-800 overflow-hidden">
  <Wrapper variant="standard">
    <div
      class="flex flex-col divide-y divide-base-300 dark:divide-base-700 border-b border-base-300 dark:border-base-700"
    >
      {
        navigationItems.map((section) => (
          <div class="grid grid-cols-1 md:grid-cols-2 gap-1 py-8">
            <Text
              tag="h3"
              variant="displayXL"
              class="dark:text-white text-base-900 font-medium tracking-tighter"
            >
              {section.title}
            </Text>
            <div class="mt-2  grid grid-cols-1 md:grid-cols-2 gap-1">
              {section.items.map((item) => (
                <a
                  href={item.href}
                  class="    text-sm text-base-700 hover:text-accent-500 dark:hover:text-accent-300 dark:text-base-400 duration-500"
                >
                  {item.text}
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 pb-12 pt-8">
      <Text
        tag="p"
        variant="textSM"
        class="text-base-700 dark:text-base-400 pt-2 md:text-balance"
      >
        © StarterBuild <span id="year"></span>.
      </Text>
      <div class="text-right">
        <Text
          tag="p"
          variant="displayXL"
          class="dark:text-white text-base-900 font-medium tracking-tighter lg:ml-auto"
        >
          <span id="clock"> </span>
        </Text>
        <Text
          tag="span"
          variant="textSM"
          class="text-base-700 dark:text-base-400 mt-1"
        >
          Newport Beach, California
        </Text>
      </div>
    </div>

    <svg
      class="w-full mt-8"
      viewBox="0 0 900 600"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
    >
      <rect x="0" y="0" width="900" height="600" fill="transparent"></rect>
      <path d="M0 392L129 439L257 379L386 372L514 403L643 416L771 363L900 391L900 601L771 601L643 601L514 601L386 601L257 601L129 601L0 601Z" fill="#9491a0"></path>
      <path d="M0 421L129 436L257 399L386 445L514 465L643 443L771 394L900 475L900 601L771 601L643 601L514 601L386 601L257 601L129 601L0 601Z" fill="#6d6a78"></path>
      <path d="M0 506L129 458L257 474L386 456L514 451L643 505L771 467L900 491L900 601L771 601L643 601L514 601L386 601L257 601L129 601L0 601Z" fill="#494653"></path>
      <path d="M0 494L129 538L257 504L386 530L514 528L643 541L771 520L900 496L900 601L771 601L643 601L514 601L386 601L257 601L129 601L0 601Z" fill="#272530"></path>
      <path d="M0 553L129 556L257 540L386 526L514 535L643 534L771 537L900 528L900 601L771 601L643 601L514 601L386 601L257 601L129 601L0 601Z" fill="#000000"></path>
    </svg>
  </Wrapper>
</footer>
<script type="module">
  function updateClock() {
    // Create a new Date object based on Helsinki's timezone
    const now = new Date().toLocaleString("en-US", {
      timeZone: "America/Los_Angeles",
    });

    // Convert the time string to a Date object
    const dateObj = new Date(now);

    let hours = dateObj.getHours(); // 0-23
    const minutes = dateObj.getMinutes(); // 0-59
    // Show seconds if you want to remove the comment from here
    // const seconds = dateObj.getSeconds(); // 0-59
    const period = hours >= 12 ? "PM" : "AM"; // Determine if it's AM or PM

    // Convert hours to 12-hour format
    hours = hours % 12;
    hours = hours ? hours : 12; // Handle the case for 12 AM and 12 PM

    // Format time as HH:MM:SS AM/PM
    const timeString =
      [
        hours.toString().padStart(2, "0"),
        minutes.toString().padStart(2, "0"),
        // Show seconds if you want to remove the comment from here
        // seconds.toString().padStart(2, "0"),
      ].join(":") +
      " " +
      period;

    // Update the clock element with the time
    document.getElementById("clock").textContent = timeString;
  }

  // Update the year every second
  function updateYear() {
    const currentYear = new Date().getFullYear(); // Get the current year
    document.getElementById("year").textContent = currentYear; // Update the year in the span
  }

  // Update the clock every second
  setInterval(updateClock, 1000);

  // Initialize the clock and year
  updateClock();
  updateYear();
</script>
