---
// Assets
import Logo from "@/components/assets/Logo-new.astro";
import ThemeToggle from "@/components/assets/ThemeToggle.astro";
// componets
import Search from "@/components/global/Search.astro";
---

<div class="fixed bottom-8 left-0 right-0 flex justify-center z-50">
  <div
    class="bg-base-900 dark:bg-base-100 rounded-(--card-radius) p-(--card-padding) group [--card-padding:--spacing(1)] [--card-radius:var(--radius-lg)] max-w-xl w-auto"
  >
    <div class="flex items-center justify-between p-0.5 gap-1">
      <!-- Logo/Home button -->
      <div
        class="flex items-center justify-center size-14 bg-base-800 dark:bg-base-50 rounded-[calc(var(--card-radius)-var(--card-padding))]"
      >
        <a href="/" aria-label="Go to homepage">
          <span class="sr-only">Go to homepage</span>
          <Logo class="h-6 text-white dark:text-base-900" />
        </a>
      </div>

      <a
        href="/about"
        class="px-2 py-1 h-14 text-sm flex bg-base-800 dark:bg-base-50 items-center outline outline-base-900 dark:outline-base-100 dark:text-base-900 hover:bg-base-950 duration-300 rounded-[calc(var(--card-radius)-var(--card-padding))] text-white dark:hover:bg-base-300"
        >About</a
      >
      <a
        href="/tools"
        class="px-2 py-1 h-14 text-sm flex bg-base-800 dark:bg-base-50 items-center outline outline-base-900 dark:outline-base-100 dark:text-base-900 hover:bg-base-950 duration-300 rounded-[calc(var(--card-radius)-var(--card-padding))] text-white dark:hover:bg-base-300"
        >Tools</a
      >
      <ThemeToggle
        class="px-2 py-1 size-14 flex bg-base-800 dark:bg-base-50 items-center outline outline-base-900 dark:outline-base-100 dark:text-base-900 hover:bg-base-950 duration-300 rounded-[calc(var(--card-radius)-var(--card-padding))] text-white dark:hover:bg-base-300 cursor-pointer"
      />
      <Search />

      <a
        href="https://cal.com/starterbuild"
        target="_blank"
        rel="noopener noreferrer"
        class="px-2 py-1 h-14 text-sm flex font-medium items-center bg-base-50 text-base-900 outline outline-base-900 dark:outline-base-100 hover:bg-base-200 duration-300 rounded-[calc(var(--card-radius)-var(--card-padding))] dark:bg-base-900 dark:text-white dark:hover:bg-base-800"
      >
        Schedule
      </a>
    </div>
  </div>
</div>
